@import url(reset.css);
@import url(input.css);

:root {
  --main-color: #ba0000;
  --main-border: 6px solid var(--main-color);
  --font1: 'roboto';
  --font2: 'NotoSansKR';
}

* {
  color: var(--main-color);

  /*background-color: rgba(0, 0, 0, 0.096);*/
}

span,
input {
  font-family: var(--font2);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1150px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.calendar {
  border-radius: 5px;
  width: 100%;
  height: 640px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5e5e5e;
  padding: 15px;
  padding-top: 45px;
  z-index: 1;
}

#logout {
  background-color: white;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
  margin-top: 8px;
  display: none;
  box-shadow: 2px 2px 2px rgba(130, 130, 130, 0.466);
}

#logout span {
  color: #ba0000;
  font-family: var(--font1);
  font-size: 23px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dondok {
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 3;
}

.select-box {
  display: flex;
  align-items: center;
}

.id-name {
  font-size: 25px;
  font-weight: 700;
  font-family: var(--font1);
  font-weight: 900;
  margin-right: 15px;
  text-shadow: 2px 2px 2px black;
  color: var(--main-color);
}

.arrow-down {
  border-top: 4px solid var(--main-color);
  border-right: 4px solid var(--main-color);
  box-shadow: 2px -2px 2px black;
  width: 10px;
  height: 10px;
  transform: rotateZ(135deg);
}

.arrow_click {
  transform: rotateZ(-45deg) translateY(5px) translateX(-5px);
}

.calendar-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-top: 2px dashed black;
}

.nav {
  display: flex;
  align-items: center;
}

.year-month {
  font-size: 25px;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 2px black;
  position: relative;
  top: 0px;
  margin: 0 6px;
}

.returns span {
  font-size: 12px;
  font-weight: 500;
}

.calendar-header__monthly-returns {
  background-color: #ba00004d;
  box-shadow: 2px 2px 2px black;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  font-family: var(--font1);
  font-weight: 500;
  font-size: 24px;
  position: relative;
  top: 10px;
}

.calendar-header__monthly-returns span {
  font-size: 15px;
  color: white;
}

.monthly-returns__figure {
  margin-left: 5px;
}

.monthly-returns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-main {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
}

.dates-section {
  width: 88%;
  height: 100%;
}

.total-section {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weeks {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.weeks div,
.total-title {
  box-sizing: border-box;
  border: var(--main-border);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 33px;
  margin: 0 1px;
  background-color: #fff;
  font-weight: 900;
  font-size: 17px;
  color: black;
}

.total-title {
  margin-bottom: 4px;
}

.dates {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.total-content {
  width: 100%;
  height: 90px;
  margin: 0 1px;
}

.date,
.total-content {
  box-sizing: border-box;
  width: 138px;
  height: 90px;
  margin: 0 1px;
  border-radius: 6px;
  padding: 5px;
  text-align: left;
  border: var(--main-border);
  background-color: #fff;
  font-family: var(--font1);
  font-weight: 900;
  font-size: 15px;
}

.total-title,
.total-content,
.total-title span,
.total-content span {
  border-color: #3e396a;
  color: #3e396a;
}

.other {
  color: black;
  opacity: 0.5;
}

.date.other {
  background-color: #5e5e5e;
  border: 4px solid rgba(0, 0, 0, 0.351);
}

.today {
  color: #ffffff;
  background-color: #ba0000;
  padding: 0 5px;
  border-radius: 20%;
}

.daily-returns,
.weekly-returns {
  margin: 5px 0;
}

#click,
#click span {
  border-color: #f178b6;
  color: #f178b6;
}
