<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <div class="select-box">
            <span>Dondok</span>
            <i class="fas fa-angle-down fa-2x"></i>
        </div>
    </header>

    <section class="main">
        <div class="calendar">

            <div class="calendar-header">
                <div class="calendar-header__month">
                    <span>3월</span>
                </div>
                <div class="calendar-header__monthly-returns returns">
                    <div class="monthly-returns">
                        <span class="monthly-returns__title">월간 매출액 : </span>
                        <span class="monthly-returns__figure">9999999</span>
                    </div>
                </div>
            </div>

            <div class="calendar-main">

                <div class="weeks">
                    <div class="sun">일</div>
                    <div class="mon">월</div>
                    <div class="tue">화</div>
                    <div class="wed">수</div>
                    <div class="thu">목</div>
                    <div class="fri">금</div>
                    <div class="sat">토</div>
                </div>

                <div class="days">

                    <div class="days__week">

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>

                            <div class="weekly-returns returns">
                                <span class="weekly-returns__title">주간 매출액 : </span>
                                <span class="weekly-returns__figure">9999999</span>
                            </div>
                        </div>

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>


                        </div>

                    </div>

                    <div class="days__week">

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>

                            <div class="weekly-returns returns">
                                <span class="weekly-returns__title">주간 매출액 : </span>
                                <span class="weekly-returns__figure">9999999</span>
                            </div>
                        </div>

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>


                        </div>

                    </div>

                    <div class="days__week">

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>

                            <div class="weekly-returns returns">
                                <span class="weekly-returns__title">주간 매출액 : </span>
                                <span class="weekly-returns__figure">9999999</span>
                            </div>
                        </div>

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>


                        </div>

                    </div>

                    <div class="days__week">

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>

                            <div class="weekly-returns returns">
                                <span class="weekly-returns__title">주간 매출액 : </span>
                                <span class="weekly-returns__figure">9999999</span>
                            </div>
                        </div>

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>


                        </div>

                    </div>

                    <div class="days__week">

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>

                            <div class="weekly-returns returns">
                                <span class="weekly-returns__title">주간 매출액 : </span>
                                <span class="weekly-returns__figure">9999999</span>
                            </div>
                        </div>

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>
                        </div>
                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <script src="https://kit.fontawesome.com/73fbcb87e6.js" crossorigin="anonymous"></script>
</body>

</html>