<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/style.css">
    <script src="https://kit.fontawesome.com/73fbcb87e6.js" crossorigin="anonymous"></script>
    <script src="/js/home/table.js" defer></script>
    <title>Document</title>
</head>

<body>

    <section class="main">
        <div class="calendar">

            <div class="dondok">
                <div class="select-box">
                    <span><%= user %></span>
                    <!--<i class="fas fa-angle-down fa-2x"></i>-->
                    <div class="arrow-down"></div>
                </div>
            </div>

            <div class="calendar-header">
                <div class="year-month"></div>
                <div class="calendar-header__monthly-returns returns">
                    <div class="monthly-returns">
                        <span class="monthly-returns__title">월간 매출액 : </span>
                        <span class="monthly-returns__figure">9999999</span>
                    </div>
                </div>
            </div>

            <div class="calendar-main">

                <div class="weeks">
                    <div class="sun"><span>일</span></div>
                    <div class="mon"><span>월</span></div>
                    <div class="tue"><span>화</span></div>
                    <div class="wed"><span>수</span></div>
                    <div class="thu"><span>목</span></div>
                    <div class="fri"><span>금</span></div>
                    <div class="sat"><span>토</span></div>
                </div>

                <!--<div class="days">

                    <div class="days__week">

                        <div class="day">
                            <span class="date">0</span>
                            <div class="daily-returns returns">
                                <span class="daily-returns__title">일일 매출액 : </span>
                                <span class="daily-returns__figure">9999999</span>
                            </div>

                            <div class="weekly-returns returns">
                                <span class="weekly-returns__title">주간 매출액 : </span>
                                <span class="weekly-returns__figure">9999999</span>
                            </div>
                        </div>

                    </div>


                </div>-->
                <div class="dates"></div>

            </div>

        </div>

        <div class="input-section">
            <div class="input-box">
                <span>일일 매출액 :</span>
                <input type="text" />
            </div>
        </div>

        <div class="nav">
            <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
            <button class="nav-btn go-today" onclick="goToday()">Today</button>
            <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
        </div>
    </section>


</body>

</html>
